
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MiningML</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reporte">Reporte</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="space">

    <div class="card">
      <div class="card-header">
        Informative Page
      </div>
      <div class="card-body">
        <h5 class="card-title">Random forest</h5>
        <p class="card-text">El bosque aleatorio (Random Forest) es un algoritmo de aprendizaje automático que se utiliza para la clasificación, regresión y otras tareas de predicción. El algoritmo funciona mediante la creación de un gran número de árboles de decisión (árboles de clasificación o regresión) y combinando sus predicciones para obtener una predicción final.

          El Score (puntuación) de un modelo de bosque aleatorio es una medida de su capacidad para predecir con precisión las etiquetas de clase en el conjunto de datos de prueba. 
          
          La matriz de confusión es una herramienta que se utiliza para evaluar el rendimiento de un modelo de clasificación. La matriz muestra el número de predicciones correctas e incorrectas que realiza el modelo para cada clase en el conjunto de datos de prueba. 
          
          La predicción es el proceso de usar un modelo de bosque aleatorio entrenado para predecir la etiqueta de clase de una muestra en el conjunto de datos de prueba. La predicción se realiza mediante la propagación de la muestra a través de cada árbol de decisión en el bosque y combinando las predicciones resultantes para obtener una predicción final.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  
  
    <div class="arre">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">CRISP-DM</h5>
        <p class="card-text">La metodología CRISP-DM (Cross-Industry Standard Process for Data Mining) es una metodología estándar utilizada en el proceso de minería de datos. La metodología consta de seis fases que se ejecutan en un proceso cíclico para ayudar a los equipos de proyecto a desarrollar soluciones efectivas y eficientes.

          Las seis fases de la metodología CRISP-DM son las siguientes:
          
          Entendimiento del negocio: En esta fase, se define el problema de negocio y se establecen los objetivos de la minería de datos. También se identifican los requisitos de los datos y se establece un plan de proyecto preliminar.
          
          Entendimiento de los datos: En esta fase, se recopila y se explora la información relevante de los datos. Se realiza una evaluación de la calidad de los datos y se selecciona una muestra adecuada para el análisis.
          
          Preparación de los datos: En esta fase, se limpian, se integran y se transforman los datos para prepararlos para el análisis. Esto puede incluir la eliminación de valores atípicos, la imputación de datos faltantes y la creación de variables derivadas.
          
          Modelado: En esta fase, se seleccionan y se ajustan los modelos de minería de datos apropiados para el problema. Se entrenan y se validan los modelos y se selecciona el mejor modelo para su implementación.
          
          Evaluación: En esta fase, se evalúa el modelo seleccionado y se comprueba que cumple con los objetivos de la minería de datos. También se identifican las limitaciones del modelo y se establecen las recomendaciones para su implementación.
          
          Implementación: En esta fase, se implementa el modelo seleccionado en el entorno de producción. Se realizan pruebas y se establecen los procedimientos para la monitorización y mantenimiento del modelo.
          
          En cuanto a la implementación del bosque aleatorio en la metodología CRISP-DM, el modelo de bosque aleatorio se puede utilizar en la fase de modelado. En esta fase, se pueden ajustar los hiperparámetros del modelo para optimizar su rendimiento y se puede evaluar el modelo mediante la matriz de confusión y las métricas de evaluación como el score. Una vez seleccionado el modelo de bosque aleatorio adecuado, se puede implementar en el entorno de producción en la fase de implementación.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>

  <div class="arre1">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.iartificial.net/wp-content/uploads/2019/06/bosque-aleatorio-prediccion-min-max.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>




<div class="arre">
<div class="container">
  <h2>Contact us</h2>
  
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" required></textarea>

    <input type="submit" value="Enviar">
 
</div>
</div>


<footer class="text-center text-black ">
  <!-- Grid container -->
 

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2023 Copyright:
    <a class="text-black" href="">Luis Rodriguez , Ronaldo Sara y Aldemar Morales</a>
  </div>
  <!-- Copyright -->
</footer>
