

    <meta charset="UTF-8">
    
    <title>Visualización de Datos</title>

    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MiningML</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reporte">Reporte</a>
        </li>
      </ul>
    </div>
  </div>


  
</nav>

<div class="move">
  <div class="container">
    <h1>Entrenamiento y predicción</h1>
    
      <div class="form-group">
        <label for="csv-file">Seleccionar archivo CSV o Excel:</label>
        <input type="file" id="csv-file"  (change)="onFileSelected($event)" accept=".csv, application/vnd.ms-excel" required>
        <input type="text" [(ngModel)]="text1"  class="form-control" placeholder="Digite el nombre de la columna csv de estar limitada con ; para que funcione" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
      <div class="form-group">
        <button (click)="uploadFile()">Subir archivo</button>
      </div>
    
    <div id="prediction-results"></div>
  </div>

<h1>Notificacion</h1>
<div *ngFor="let contacto of contactos; let i = index" class="notification">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">{{ contacto.name }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Mensaje: {{ contacto.message }}</p>
      <p class="card-text">Email: {{ contacto.email }}</p>
    </div>
    <div class="card-footer">
      <input type="text" class="form-control" placeholder="Responder mensaje" [(ngModel)]="responder[i]" />
      <button (click)="deleteNotification(contacto.id, i, contacto.email)">Enviar</button>
    </div>
  </div>
</div>


    <h1>Visualización de Datos Wine red</h1>
    <h3>winequality-red </h3>
    
    <table>
      <thead>
        <tr>
         
          <th>fixed acidity</th>
          <th>volatile acidity</th>
          <th>citric acid</th>
          <th>residual sugar</th>
          <th>chlorides</th>
          <th>free sulfur dioxide</th>
          <th>total sulfur dioxide </th>
          <th>density</th>
          <th>pH</th>
          <th>sulphates</th>
          <th>alcohol</th>
          <th>quality</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objeto of miObjeto">
          <td>{{ objeto["fixed acidity"] }}</td>
          <td>{{ objeto["volatile acidity"] }}</td>
           <td>{{ objeto["citric acid"] }}</td>
           <td>{{ objeto["residual sugar"] }}</td>

          <td>{{ objeto.chlorides }}</td>
          <td>{{ objeto["free sulfur dioxide"] }}</td>
          <td>{{ objeto["total sulfur dioxide"] }}</td>
          <td>{{ objeto.density }}</td>
          <td>{{ objeto.pH }}</td>
          <td>{{ objeto.sulphates }}</td>
          <td>{{ objeto.alcohol }}</td>
          <td>{{ objeto.quality }}</td>
       
          
        </tr>
      </tbody>
    </table>
 
 
  
  <footer class="text-center text-black ">
    <!-- Grid container -->
   
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2023 Copyright:
      <a class="text-black" href="">Luis Rodriguez , Ronaldo Sara y Aldemar Morales</a>
    </div>
    <!-- Copyright -->
  </footer>
