h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  form {
    text-align: center;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    text-align: left;
    background-color: #dddddd;
  }
  
  #nombre-cargado, #edad-cargada, #email-cargado {
    font-weight: bold;
  }
  .form-group{
    margin-top: 2%;
  }
  .move{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 4%
    
  }
  